.modal-header
  span {{!mm.modal.id ? 'Adăugare rând' : 'Editare rând'}}
.modal-body
  .row
    form.form-horizontal
      .col-xs-12.p-bottom-10
        label.control-label.col-xs-2 Nume
        .col-xs-3.p-0
          input.form-control(ng-model='mm.modal.nume')
        label.control-label.col-xs-2 Prenume
        .col-xs-3.p-0
            input.form-control(ng-model='mm.modal.prenume')
      .col-xs-12.p-bottom-10
        label.control-label.col-xs-2 CNP
        .col-xs-3.p-0
          input.form-control(ng-model='mm.modal.cnp' ng-change='mm.calcAge(mm.modal.cnp)' ng-model-options='{debounce: 1000}')
        label.control-label.col-xs-2 Varsta
        .col-xs-3.p-0
          input.form-control(ng-model='mm.modal.varsta')
      .col-xs-12.p-bottom-10

      div(ng-if='!mm.modal.id')
        label.control-label.col-xs-2(for='addCars') Masini
        .col-xs-9.p-0
          select#cars.form-control(name='addCars' multiple='' ng-model='mm.select.linkedCars')
            option(ng-repeat='car in mm.select.allCars' value='car') {{ car }}

      div(ng-if='mm.modal.id') {{mm.modal.Pers_Cars}}
        label.control-label.col-xs-2(for='editCars') Masini
        .col-xs-9.p-0
          select#cars.form-control(name='editCars' ng-model='mm.modal.Pers_Cars')
            option(ng-repeat='car in mm.allCars' value='{{car}}') {{ car }}
.modal-footer
  button.btn.btn-default(ng-click='$dismiss()') Renunță
  button.btn.btn-success(ng-click='mm.save(mm.modal)' ng-bind='mm.modal.id ? "Salvează" : "Adaugă"')
