nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#/')
        img.img-responsive(src='app/images/your-consulting.jpg' alt='YourConsulting')
    ul.nav.navbar-nav
      li
        a(href='#/information')
          i.fa.fa-sitemap
          |   Informații

      li
         a(href='#/person')
           i.fa.fa-users
           |   Persoane

      li
        a(href='#/car')
          i.fa.fa-car
          |   Mașini